

html {
    scroll-behavior: smooth;
}

dt {
    font-weight: bold;
}

p::first-letter {
    color: darkblue;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}

#sajat {
    background-color: purple;
    color: white;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

#study {
    background-color: yellow;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

h1 {
    text-align: center;
    letter-spacing: 15px;
    border: 6px dashed purple;
}
