* {
    box-sizing: border-box;
}

body {
    text-align: center;
    vertical-align:middle;
}

#article,
#aside, #aside2,
#footer,
#header,
#nav {
    padding: 20px;
    border-radius: 25px;
    margin: 10px;
}

#header {
    background-color: rebeccapurple;
    color: yellow;
}

#nav {
    background-color: deepskyblue;
}

#article {
    background-color: yellow;
    color: rebeccapurple;
    text-align: justify;

}

#aside {
    
    line-height: 2em;
    text-align:left;
    background-color: purple;
    color: yellow;

}
#aside dd{
    font-style:italic;
}
 #aside dt {
        font-weight: bold;
    }
#aside2 {
    background-color: purple;
   
}

#footer {
    background-color: rebeccapurple;
    color:yellow;
}

#nav {
    background-color: rebeccapurple;
    
    display: flex;
}

    #nav a {
        text-decoration: none;
        color: yellow;
        flex: 1 1 auto;
    }

        #nav a:hover {
            font-size:20px;;
            font-weight: bold;
        }


@media screen and (min-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 1500px;
    }

    #main {
        display: flex;
    }

    #nav, #header {
        order: -1;
    }

    #article {
        flex: 1 1 50%;
    }

    #aside {
        flex: 1 1 25%;
    }

    #aside2 {
        
        flex: 1 1 25%;
    }
}
